* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#scroll {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #333333;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #333333;
  display: none;
}

/* sec-1 styling  */

#sec1 {
  width: 100%;
  height: 100%;
  /* border: 1px solid #970000; */
}

.nav-bar {
  /* border: black 1px solid; */
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.icon {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: #333333;
}

#nav-link {
  display: flex;
}

#nav-link li {
  list-style: none;
  padding: 20px 30px;
  transition: all 0.4s linear;
}

#nav-link li a {
  color: #333333;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
}

#nav-link li:hover {
  transform: translateY(4px);
}

.container1 {
  margin: 50px 0 0 0;
}

#res-btn {
  padding: 20px 30px;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}

.que {
  color: #2d9cdb;
  /* margin-bottom: 20px; */
  margin-left: 20%;
}

.title {
  width: 35%;
  /* border: solid 1px #333333; */
  margin-left: 20%;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333333;
}

.adver {
  margin-left: 20%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 35%;
  color: #333333;
}

.label {
  margin-left: 20%;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  margin-top: 40px;
  margin-bottom: 10px;
}

.input {
  margin-left: 20%;
  position: relative;
  margin-bottom: 20px;
}

#input-e {
  padding: 10px 10px 10px 40px;
  width: 300px;
  border: none;
  background: #f2f2f2;
  border-radius: 12px;
  color: #757575;
}

#input-e:focus {
  outline: none;
  border: 1px solid #969696;
}

.input i {
  position: absolute;
  top: 13px;
  left: 10px;
  color: #bdbdbd;
}

.btn {
  background: #2d9cdb;
  border-radius: 12px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.img-1 {
  width: 100%;
  height: 354px;
  object-fit: cover;
  border-radius: 18px;
  box-sizing: border-box;
}

.img-wrapper {
  padding: 0 40px;
}

/* sec-1 styling end  */

/* sec-2 styling */

#sec2 {
  /* background-color: antiquewhite; */
  width: 100%;
  height: 100%;
  margin: 0;
}

.container2 {
  border: 1px solid #ffffff;
}

.cap {
  width: 300px;
  font-size: 2rem;
  font-weight: 500;
  color: #333333;
  /* background-color: #828282; */
  margin: 120px 0 0 200px;
}

.box3 {
  display: flex;
  /* border: 1px solid #333333; */
  margin: 0 200px;
  justify-content: space-between;
}

.wrap {
  width: 30%;
  /* border: 1px solid #2d9cdb; */
  padding: 30px;
  margin-top: 120px;
  transition: all 0.4s linear;
  margin-bottom: 300px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.wrap:hover {
  background: #ffffff;

  transform: scale(1.2);
}

#ui,
#fr,
#ba {
  color: #ffffff;

  border-radius: 16px;
  padding: 18px;
}

#ui {
  background: #2d9cdb;
}

#fr {
  background: #27ae60;
}

#ba {
  background: #eb5757;
}

.name {
  padding: 20px 0;
  color: #333333;
  font-size: 1.5rem;
}

.info {
  color: #4f4f4f;
  font-weight: 400;
  line-height: 24px;
}

.click-btn {
  border: none;
  color: #ffffff;
  background: #2d9cdb;
  border-radius: 12px;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.4s linear;
}

.click-btn:hover {
  background: #23648a;
}

/* sec-2 styling  end*/

/* sec3 styling */

#sec3 {
  width: 100%;
  height: 100%;
  /* background-color: #bdbdbd; */
}

.container3 {
  border: 1px solid #ffffff;
}

.cap3 {
  font-size: 2rem;
  width: 350px;
  color: #333333;
  font-weight: 500;
  /* background-color: #828282; */
  margin: 100px 0 0 200px;
}

.work-wrap {
  display: flex;
  /* background-color: #757575; */
  justify-content: center;
}
.first-work {
  /* background-color: #eb5757; */
  margin: 120px 40px 40px 40px;
}

.second-work {
  /* background-color: #ffe0e0; */
  margin: 20px 40px 40px 40px;
}

.smart,
.booking,
.onbord,
.juice {
  margin-bottom: 100px;
}

.work-wrap img {
  width: 400px;
  height: 400px;
  border-radius: 12px;
}

.work-name {
  font-weight: 300;
  font-size: 14px;
  color: #828282;
}

.work-title {
  font-weight: 500;
  font-size: 1.5rem;
}

/* sec3 styling end */

#sec4 {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}

.container4 {
  border: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0 200px 180px;
}

.team {
  /* background-color: burlywood; */
  margin-top: 250px;
  margin-left: 100px;
}

.team p {
  font-weight: 500;
  font-size: 18px;
  color: #eb5757;
}

.team h1 {
  color: #333333;
  font-size: 2rem;
  width: 280px;
}

.para {
  color: #4f4f4f !important;
  font-weight: 400;
  width: 400px;
  font-size: 16px;
}

.team-photo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /* background-color: chartreuse; */
}

.ph1 img {
  border-radius: 24px;
  margin: 150px 20px 20px 20px;
  width: 291.43px;
  height: 300px;
}

.ph2 img {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  width: 291.43px;
  height: 300px;
  margin: 20px;
}

/* sec4 styling end */

#sec5 {
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(148, 142, 140); */
}

.container5 {
  border-top: 1px solid rgb(255, 255, 255);
}

.quote {
  font-weight: 500;
  font-size: 2rem;
  color: #333333;
  width: 937px;
  margin: 100px 200px 0;
}

.profile {
  display: flex;
  margin: 70px 200px 150px 200px;
}

.profile img {
  width: 70px;
  border-radius: 12px;
  margin-right: 30px;
}

.profile-name {
  font-weight: 500;
  font-size: 1.3rem;
  color: #333333;
}

.job {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}

.footer {
  background: #100e1d;
  display: flex;
  justify-content: space-between;
  height: 385px;
  padding: 50px 100px;
}

#footer-link li {
  list-style: none;
  padding: 10px;
  transition: all 0.4s linear;
}

#footer-link li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

#footer-link li:hover {
  transform: translateY(2px);
}

.social .icon {
  color: #f2f2f2;
  margin: 10px;
}

.social i {
  color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.4s linear;
  font-size: 1.7rem;
}

.social i:hover {
  color: #c4c4c4;
  transform: translateY(-2px);
}

.finput {
  margin-left: 20%;
  position: relative;
  margin-bottom: 20px;
}

#finput-e {
  padding: 10px 10px 10px 40px;
  width: 300px;
  border: none;
  background: #f2f2f2;
  border-radius: 12px;
  color: #757575;
}

#finput-e:focus {
  outline: none;
  border: 1px solid #969696;
}

.finput i {
  position: absolute;
  top: 13px;
  left: 10px;
  color: #bdbdbd;
}

.end {
  background: #100e1d;
  color: #f2f2f2;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 15px;
}

@media all and (max-width: 1550px) {
  .title {
    width: 40%;
    font-size: 2em;
  }
  .box3 {
    margin: 0 70px;
  }
  .team {
    margin-left: 5px;
  }
  .container4 {
    /* border: 1px solid #c75353; */
    margin: 0 70px 180px;
  }

  .quote {
    margin: 100px 120px 0;
  }

  .footer {
    padding: 50px 50px;
  }
}

@media all and (max-width: 1100px) {
  .adver {
    margin-left: 20%;
    font-weight: 400;
    font-size: 16px;
  }

  .box3 {
    margin: 0 20px;
  }

  .container4 {
    margin: 0 40px 180px;
  }

  .ph2 img {
    width: 200px;
    height: 200px;
  }

  .ph1 img {
    margin: 150px 20px 20px 20px;
    width: 200px;
    height: 200px;
  }

  .quote {
    margin: 100px 50px 0;
  }

  .finput {
    margin-left: 0;
  }

  #footer-link li a {
    font-size: 15px;
  }

  .social i {
    font-size: 1.4rem;
  }
}

@media all and (max-width: 992px) {
  #res-btn {
    display: inline-block;
  }

  #nav-link {
    display: none;
  }

  #nav-link.active {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 80px -100px 0;
    border-bottom: 1px solid #333333;
  }
  .box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: #333333 solid; */
    margin-top: 80px;
  }

  .wrap {
    width: 50%;
    /* border: #333333 solid; */
    padding: 40px;
    margin-top: 40px;
    transition: all 0.4s linear;
    margin-bottom: 0;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  }
  .quote {
    width: 90%;
  }
}

@media all and (max-width: 900px) {
  .title {
    width: 45%;
    /* border: solid 1px #333333; */
    margin-left: 10%;
  }
  .que {
    margin-left: 10%;
  }
  .adver {
    margin-left: 10%;
    width: 45%;
  }

  .input {
    margin-left: 10%;
  }

  .work-wrap {
    flex-direction: column;
    align-items: center;
  }

  .second-work {
    margin: 0 40px 40px 40px;
  }

  .container4 {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .social {
    margin: 70px 0 70px 60px;
  }
}

@media all and (max-width: 770px) {
  .title {
    width: 75%;
  }
  .adver {
    width: 75%;
  }
  .img-1 {
    height: auto;
  }

  .wrap {
    width: 80%;
  }

  .cap,
  .cap3 {
    margin: 120px 0 0 80px;
  }

  .profile {
    margin: 70px 100px 150px;
  }

  .profile img {
    object-fit: cover;
    width: 80px;
    height: 80px;
  }
}

@media all and (max-width: 580px) {
  .img-1 {
    width: 100%;
    height: 200px;
  }
}

@media all and (max-width: 480px) {
  .title {
    width: 90%;
    /* border: solid 1px #333333; */
    margin-left: 5%;
  }
  .que {
    margin-left: 5%;
  }
  .adver {
    margin-left: 5%;
    width: 90%;
  }

  .input {
    margin-left: 5%;
  }

  .img-wrapper {
    padding: 0 20px;
  }

  .label {
    margin-left: 5%;
  }

  #input-e {
    padding: 10px 10px 10px 40px;
    width: 250px;
  }

  .profile {
    margin: 70px 30px 150px;
  }

  #finput-e {
    padding: 10px;
    width: 150px;
  }

  .cap,
  .cap3 {
    margin: 120px 0 0 30px;
    width: 300px;
    font-size: 1.8rem;
  }

  .wrap {
    width: 100%;
    padding: 20px;
  }

  .footer {
    padding: 10px;
  }
  .work-wrap img {
    width: 300px;
    height: 300px;
  }
  .container4 {
    margin: 0 30px 180px;
    width: 100%;
  }
  .quote {
    width: 100%;
    margin: 100px 0 0;
  }
}
